.not_found {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px double #000;

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: auto;
    font-weight: 700;
    color: #000;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    margin: 30px 0 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    height: 6vw;
    max-width: 375px;
    max-height: 90px;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 20%;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    line-height: auto;
    font-weight: 400;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(0.95);
      color: #ca116a;
      border-color: #ca116a;
    }
  }

  @media (max-width: 720px) {
    &__title {
      font-size: 7vw;
    }

    &__subtitle {
      font-size: 5vw;
    }

    &__link {
      font-size: 4vw;
    }
  }
}
