@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

#root {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  max-width: 1920px;
  width: 100%;
  background-image: linear-gradient(
    30deg,
    #000 15%,
    #5a1616 40%,
    #5a1616 75%,
    #ff0202 90%
  );
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  min-height: 100vh;
}

.backbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 7vw;
  max-width: 250px;
  min-width: 70px;
  max-height: 60px;
  min-height: 20px;
  margin: 0 auto;
  outline: 0;
  background-color: #b51313;
  border: 1px solid #000;
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 3vw;
}

.backbtn:hover {
  opacity: 0.7;
  transform: scale(0.95);
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 3vh 60px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: auto;
}

.subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
}

@media (max-width: 750px) {
  .body {
    margin: 3vh 4vw;
  }
}

@media (max-width: 500px) {
  .backbtn {
    font-size: 5vw;
  }

  #root {
    border-width: 1vw;
  }

  .title {
    font-size: 9vw;
  }

  .subtitle {
    font-size: 6vw;
  }
}
